# One Kibana base URL per line. Lines starting with # are ignored.
# Example:
# https://platform-metrics.kb.af-south-1.aws.elastic-cloud.com
# https://my-deployment.kb.us-east-1.aws.found.io
https://platform-metrics.kb.eu-west-1.aws.qa.cld.elstc.co
https://platform-metrics.kb.us-central1.gcp.qa.cld.elstc.co
https://platform-metrics.kb.eastus2.azure.qa.cld.elstc.co
