[
  { "old": "system.cpu.usage", "new": { "name": "system.cpu.utilization", "dimensions": {} } },
  { "old": "system.memory.usage", "new": { "name": "system.memory.utilization", "dimensions": {} } }
]
